.page-title {
    color: rgba(255, 0, 255, 0.267);
}
.head-text {
    background-color: chocolate;
    font-family: Bitcount Prop Single;
    font-weight: 400;
    font-size: large;
}
body {
    background-color: beige;
}
.page-nav .link {
    color: rgb(42, 161, 161);
}
.page-nav .link:hover {
    color: rgb(0, 255, 255);
}
.hero-page-title {
    color: rgb(70, 70, 201);
}
.hero-page-title:hover,.hero-page-title:focus,.hero-page-title:active {
    color: blue;
}
.head-text-two{
    font-family: Lavishly Yours;
    font-size: larger;
    
}