.page-title {
    color: rgba(255, 0, 255, 0.267);
}
.head-text {
    background-color: chocolate;
    font-family: Bitcount Prop Single;
    font-weight: 400;
    font-size: large;
}
body {
    background-color: beige;
}
.page-nav .link {
    color: rgb(42, 161, 161);
}
.page-nav .link:hover {
    color: rgb(0, 255, 255);
}